@import "tailwindcss/base"; 
@import "tailwindcss/components"; 
@import "tailwindcss/utilities"; 

*{
  margin: 0;
  box-sizing: content-box;
}
body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

