.Dashboard-page{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    padding-top: 2em;
    padding-left: 7em;
    align-items: flex-end;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}
.dashboard-content p{
    color: #555;
    font-size: 1.5em;
    font-weight: 500;
}