table {
    border-collapse: separate;
    border-spacing: 25px 5px; 
    color: #555;
}

td, th {
    padding: 7px 15px;
}
th{
    cursor: pointer;
}
.status-row svg{
    padding: 0px 0px 0px 10px;
}
.status-row.Delivered{
    color: #8BDA4C;
}
.status-row.Processing{
    color: #67C8FF;
}
.status-row.Confirmed{
    color: #FFC759;
}
.status-row.Pending{
    color: #FE5C5C;
}
.status-row.in-stock{
    color: #AEE7F1;
}
.status-row.out-of-stock{
    color: #F0C1C4;
}
tbody{
    height: 10em;
    overflow-y: scroll;
}

