:root{
    --productColor:#597EB5;
}
.category-page{
    display: flex;
    flex-direction: column;
    row-gap: 6em;
}
.category-container{
    display: flex;
    flex-direction: row;
}
.filter-section{
    border-right: solid 0.2px #eee;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 0em 2em;
}
.category-filter , .price-filter , .rating-filter{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.filter-title{
    font-size: 1.5em;
    font-weight: 500;
    color: #555;
}
.category-container a{
    column-gap: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.category-container a p{
    columns: #555;
    font-weight: 400;
}

.category-container .category-link span {
    border-radius: 5px;
    border: 0.5px solid #EEE;
    background: #FFF;
    color: #FFF;
    height: 20px;
    width: 20px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-container .category-link span svg{
    width: 15px;
    height: 15px;
    visibility: none;
}
.category-container .active-category-link span{
    border: 0.5px solid #597EB5;
    background-color: #597EB5;
}
.category-container .active-category-link span svg{
    width: 20px;
    height: 20px;
    border: none;
    visibility: visible;
}
.see-more-categories{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    color: #9d9d9d;
    cursor: pointer;
}
.price-filter .price-inputs{
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
}
.price-inputs input{
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: none;
    max-width: 50px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    background-color: #fff;
    color: #555;
}
.rating-filter .rating-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.rating-filter .rating-inputs .checkbox-rating-input{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.checkbox-rating-input .stars{
    display: flex;
    flex-direction: row;
    color: #FFEC3D;
}
.checkbox-rating-input .stars svg{
    height: 20px;
    width: 20px;
}
.products-section{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 0em 3em;
}
.product-section-header{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.product-section-header .rec-right-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em 1em;
    border-radius: 54px;
    background: #FFF;
    color: #d9d9d9;
    width: 24em;
}
.product-section-header .rec-right-search svg{
    height: 30px;
    width: 30px;
}
.product-section-header .rec-right-search input{
    border: none;
    padding: 1em;
    outline: none;
}
.product-section-header .rec-right-search input::placeholder {
    color: #d9d9d9;
}
.product-section-header .rec-right-search input:focus{
    border: none;
    color: #555;
}
.product-section-header select{
    border: 0;
    font-size: 1em;
    padding: 12px 8px;
    color: #555;
    border: 0.5px solid #EEE;
    border-radius: 6px;
}
.products-section .product-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    height: 34em;
    overflow-y: scroll;
    padding: 1em;
    justify-items: center;
    align-items: start;
}
.products-section .popular-list a {
    color: #555;
}
.products-section .popular-prod{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1em;
    padding: 2.5em 1em;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.09);
    align-items: flex-start;
}
.products-section .fav-btn{
    border: none;
    background-color: #fff;
    color: #EB5954;
    transition: background ease-in-out .3s;
    padding: 0.5em;
    border-radius: 4px;
   
}
.products-section .fav-btn:hover{
     background: rgba(235, 89, 84, 0.19);
}
.products-section .fav-btn svg{
    height: 25px;
    width: 25px;
}
.products-section .product-info{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    color: #555;
}
.products-section .product-info img{
    border-radius: 7px;
    height: 80px;
    width: 80px;
}
.products-section .product-info-txt  {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.products-section .product-info-txt-1  {
    display: flex;
    flex-direction: column;
}
.products-section .product-info-txt-1 .prod-name {
    font-weight: 500;
    font-size: 1.2em;
}
.products-section .prod-reviews {
    display: flex;
    column-gap: 0.5em;
    flex-direction: row;
    align-items: center;
}
.products-section .prod-reviews .reviews-nbr {
    font-size: 12px;
    font-weight: 600;
}
.products-section .prod-reviews .stars{
    display: flex;
    flex-direction: row;
    color: #FFEC3D;
}
.products-section .prod-reviews .stars svg{
    height: 20px;
    width: 20px;
}
.products-section .product-info-txt-2{
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
}
.products-section .product-info-txt-2 .prod-price{
    color: #9D9D9D;
    width: 80px;
    font-size: 16px;
}
.products-section .product-info-txt-2 .prod-price span{
    color: #555;
    font-weight: 500;
}
.products-section .product-info-txt-2 .add-cart-btn {
    padding: 0.7em;
    text-align: center;
    color: #9d9d9d;
    font-weight: 500;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}
.search-rslt{
    color: #9D9D9D;
    font-size: 18px;
}
.search-rslt span{
    color: #555;
}
.sort-section{
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
    align-items: center;
}
.sort-section-header{
    color: #555;
    font-size: 1.5em;
    font-weight: 500;
}
.sort-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}
.sort-category{
    border: 0;
    padding: 8px 12px;
    border-radius: 7px;;
    color: #ffffff;
    background-color: #597EB5;
    box-shadow: 0px 4px 14px 0px #d8cfcf87;

}
.sort-inputs input[type="checkbox"] {
    display: none;
}
  
.sort-inputs label {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 7px;
    border: 0.5px solid #EEE;
    background: #FFF;
    color: #555;
    font-size: 1em;
    cursor: pointer;
}

.sort-inputs label.checked {
    background-color: #597EB5;
    border: 0.5px solid #597EB5;
    color: #fff;
}
.products-section .products{
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}
.products-section .products .product-list .popular-prod{
    cursor: pointer;
}
.the-one-product{
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    align-items: center;
}
.one-product{
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.06);
    padding: 3em
}
.one-product .selected-product-images{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}
.one-product .selected-product-images .big-img{
    width: 150px;
}
.one-product .selected-product-images .img-choices{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: flex-end;
}
.one-product .img-choices span{
    cursor: pointer;
}
.one-product .img-choices span img{
    border-radius: 6px;
    height: 50px;
    width: 50px;
}
.one-product .selected-product-info{
    display: flex;
    row-gap: 1em;
    align-items: flex-start;
    flex-direction: row-reverse;
    column-gap: 2em;
}
.one-product .selected-product-info1 {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.one-product .selected-product-info11 {
    display: flex;
    flex-direction: column;
}
.one-product .product-info-txt-1 {
    display: flex;
    flex-direction: column;
    color: #555;
}
.one-product .product-info-txt-2{
    color: #9d9d9d;
    font-size: 0.9em;
    width: 26em;
}
.one-product .selected-product-info12{
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
}
.one-product .selected-product-info12 .header {
    color: #555;
    font-size: 1em;
    font-weight: 500;
}
.one-product .selected-product-colors{
    display: flex;
    flex-direction: row;
    column-gap: 0.9em;
}
.one-product .selected-product-color{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(var(--productColor)) ;
}
.one-product .selected-product-info13{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    align-items: center;
}
.one-product .selected-product-info131{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.one-product .selected-product-info131 .selected-product-price-header{
    color: #9D9D9D;
}
.one-product .selected-product-price-box{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    color: #555;
    font-weight: 500;
    font-size: 1.1em;
}

.selected-product-price.crossed{
    text-decoration: line-through;
}
.selected-product-price-box span{
    color: #FE5C5C;
    text-decoration: none;
}
.selected-product-add-btn{
    width: 8em;
    border: 0;
    background: none;
    padding: 1.2em 2.1em;
    background-color: #597EB5;
    color: #FFF;
    font-weight: 500;
    border-radius: 14px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.selected-product-add-btn:hover{
    background-color: #6f88ac;
}
.one-product-reviews-container{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.one-product-reviews-container .header{
    color: #555;
    font-weight: 500;
    font-size: 1.4em;
}
.one-product-reviews{
    display: flex;
    flex-direction: row;
    column-gap: 5em;
    align-items: center;
}
.one-product-old-reviews{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: 17em;
    overflow-y: scroll;
}
.one-product-old-review{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}
.one-product-old-review span{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #D9D9D9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one-product-old-review-info{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
.one-product-old-review-info .Reviewer-name{
    color: #555;
}
.one-product-old-review-info .Review-content ,.one-product-old-review-info .Review-date {
    color: #D9D9D9;
    font-size: 14px;
}
.one-product-old-review-info .Review-content{
    width: 250px;
}
.one-product-old-review .stars{
    color: #FFEC3D;
}
.one-product-new-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    padding: 2em;
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.06);
}
.one-product-new-review .header{
    color: #555;
    font-weight: 500;
    font-size: 1em;
}
.one-product-new-review .star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.one-product-new-review .radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
  
.one-product-new-review .radio-label {
    cursor: pointer;
    font-size: 0;
    color: rgba(0,0,0,0.2);
    transition: color 0.1s ease-in-out;
}
  
.one-product-new-review .radio-label:before {
    content: "★";
    display: inline-block;
    font-size: 32px;
}
.one-product-new-review  .radio-input:checked ~ .radio-label {
    color: #ffc700;
    color: gold;
  }
  
  .one-product-new-review  .radio-label:hover,
  .one-product-new-review  .radio-label:hover ~ .radio-label {
    color: goldenrod;
  }
  
  .one-product-new-review .radio-input:checked + .radio-label:hover,
  .one-product-new-review  .radio-input:checked + .radio-label:hover ~ .radio-label,
  .one-product-new-review  .radio-input:checked ~ .radio-label:hover,
  .one-product-new-review  .radio-input:checked ~ .radio-label:hover ~ .radio-label,
  .one-product-new-review  .radio-label:hover ~ .radio-input:checked ~ .radio-label {
    color: darkgoldenrod;
  }
  .one-product-new-review .reviewer-info{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
  }
  .one-product-new-review form{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
  .one-product-new-review .reviewer-info input[type = "text"]{
    min-width: 0;
    width: 4em;
  }
  .one-product-new-review .reviewer-info input[type = "email"]{
    min-width: 0;
    width: 8em;
  }
  .one-product-new-review .text-area textarea {
    width: 22em;
    min-height: 80px;
}
  .one-product-new-review .add-review-btn{
    border: 0;
    background: none;
    padding: 1.2em 2.1em;
    background-color: #597EB5;
    color: #FFF;
    font-weight: 500;
    border-radius: 14px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.one-product-new-review .add-review-btn:hover{
    background-color: #6f88ac;
}